.Button {
  background-color: var(--button-basic-bgcolor);
  color: var(--button-basic-fgcolor);

  font-size: var(--button-font-size);
  text-transform: uppercase;
  letter-spacing: 2px;

  border: 0;
  border-radius: 4px;

  padding: 35px;
  cursor: pointer;

  /*Align the content (text, svg) middle vertically*/
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
  cursor: not-allowed;
}
