.SingleWeightSelector {
  position: absolute;
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
}
.SingleWeightSelectorTitle {
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--component-font-size);
  left: 0;
  top: 0;
  z-index: var(--component-title-zindex);
  text-shadow: black 1px 1px 1px;
}
.SingleWeightSelectorWaterTank,
.SingleWeightSelectorWaterTankWater {
  box-sizing: border-box; /*The width and height includes the border*/
  border-bottom-left-radius: var(--weight-selector-radius);
  border-bottom-right-radius: var(--weight-selector-radius);
  background-color: var(--weight-selector-water-tank-bgcolor);
}

.SingleWeightSelectorWaterTankWater {
  position: absolute;
  background-color: var(--weight-selector-water-tank-bgcolor-water);
  border-bottom-left-radius: var(--weight-selector-radius);
  border-bottom-right-radius: var(--weight-selector-radius);
  z-index: var(--water-zindex);
}

.SingleWeightSelectorWeight {
  position: absolute;
  z-index: var(--component-title-zindex);
  text-align: center;
}

.SingleWeightSelectorWeight_Number {
  font-size: var(--component-big-font-size);
  line-height: var(--component-big-font-size);
  font-weight: bold;
}

.SingleWeightSelectorWeight_Lbs {
  font-size: var(--component-font-size);
  margin-left: 8px;
}

.Svg {
  position: absolute;
  z-index: var(--component-svg-zindex);
  overflow: visible;
}
