.SingleWeightSelector {
  position: absolute;
  color: var(--text-title-color);
  font-family: "Roboto", sans-serif;
  user-select: none;
  overflow: hidden;
}
.SingleWeightSelectorTitle {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  left: 0;
  top: 0;
  z-index: 3;
  text-shadow: black 1px 1px 1px;
}
.SingleWeightSelectorWaterTank,
.SingleWeightSelectorWaterTankWater {
  box-sizing: border-box; /*The width and height includes the border*/
  border-radius: var(--SingleWeightSelector-radius);
  background-color: var(--SingleWeightSelector-waterTank-bgcolor);
}

.SingleWeightSelectorWaterTankWater {
  position: absolute;
  background-color: var(--SingleWeightSelector-waterTank-bgcolor-water);
  border-bottom-left-radius: var(--SingleWeightSelector-radius);
  border-bottom-right-radius: var(--SingleWeightSelector-radius);
}

.SingleWeightSelectorWeight {
  position: absolute;
  z-index: 3;
  text-align: center;
}

.SingleWeightSelectorWeight_Number {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.SingleWeightSelectorWeight_Lbs {
  font-size: 30px;
  margin-left: 8px;
}

.Svg {
  position: absolute;
  z-index: 3;
  overflow: visible;
}
