.SingleWeightSelectorHandle {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  background-color: var(--weight-selector-handle-bgcolor);
  cursor: pointer;
  z-index: var(
    --component-handle-zindex
  ); /*Must be bigger than the label and water tank water to not interfer with the dragging event*/

  transition: transform 0.5s cubic-bezier(0.08, 0.62, 0.26, 0.93);
}
.SingleWeightSelectorHandle_Unpressed {
  box-shadow: black 2px 2px 12px;
}

.SingleWeightSelectorHandle_Pressed {
  box-shadow: black 2px 2px 4px;
  transform: scale(0.9);
}

.SingleWeightSelectorHandleData {
  flex: 1;
  font-size: var(--component-big-font-size);

  display: flex; /*Vertical center*/
  align-items: center; /*Vertical center*/
}
