.Wave {
  position: absolute;
  overflow: hidden; /*Hide the wave that are bigger on left and right side (allowing wobbling)*/
  transition: opacity 500ms cubic-bezier(0.08, 0.62, 0.26, 0.93);
  z-index: var(--water-zindex);
}
.Wave_Wobble {
  opacity: 1;
}
.Wave_NotWobble {
  opacity: 0;
}
.WaveContainer {
  transform: translateX(
    -25px
  ); /*Get in the middle of the SVG to have a left/right wobble that does not show the edges*/
}
.Svg {
  transition: height 1.5s ease-in-out;
}
.Svg_Wobble {
  animation: wobble 1.5s infinite ease-in-out;
}

@keyframes wobble {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}
