.SingleWeightSelectorThinHandle {
  position: absolute;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: var(--SingleWeightSelector-handle-bgcolor);
  cursor: pointer;

  transition: transform 0.5s cubic-bezier(0.08, 0.62, 0.26, 0.93);
}
.SingleWeightSelectorThinHandle_Unpressed {
  box-shadow: black 2px 2px 12px;
}

.SingleWeightSelectorThinHandle_Pressed {
  box-shadow: black 2px 2px 4px;
  transform: scale(0.9);
}

.SingleWeightSelectorThinHandleData {
  flex: 1;
  font-size: 50px;

  display: flex; /*Vertical center*/
  align-items: center; /*Vertical center*/
}
