.WorkoutExerciseSets {
  padding: 20px 0px 0px 0px;
}

.oneset {
  flex: 0 0 70px;

  display: flex;
  flex-direction: column;
}

.notactive {
  opacity: 0.2;
}

.topControl {
  flex: 0 0 400px;
}

.bottomControl {
  flex: 0 0 40px;
}
