.Choose {
  background-color: var(--app-bgcolor);
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.nav {
  flex: 1 1 auto;
  text-align: center;
}

a.nav,
a.nav:visited {
  font-size: var(--component-font-size);
  color: var(--link-fg-color);
}
