.StoryBook {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.item {
  flex: 0 0 auto;
  height:325px;
}