:root {
  --text-title-color: white;
  --SingleWeightSelector-radius: 8px;
  --SingleWeightSelector-waterTank-bgcolor: #453d55;
  --SingleWeightSelector-waterTank-bgcolor-water: #0288d1;
  --SingleWeightSelector-handle-bgcolor: #c4c4c4;

  --LabelColor: #888296;
  --ButtonSelected: #654e92;
  --Reps-bgcolor: var(--SingleWeightSelector-waterTank-bgcolor);
  --Reps-radius: var(--SingleWeightSelector-radius);
}
