.SingleWeightSelectorHandle {
  position: absolute;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: var(--SingleWeightSelector-handle-bgcolor);
  cursor: pointer;
}
.SingleWeightSelectorHandle_Unpressed {
  box-shadow: black 2px 2px 12px;
}

.SingleWeightSelectorHandle_Pressed {
  box-shadow: black 2px 2px 4px;
}

.SingleWeightSelectorHandleData {
  flex: 1;
  font-size: 50px;

  display: flex; /*Vertical center*/
  align-items: center; /*Vertical center*/
}
