.MovablePanel {
  display: flex;
  flex: 1;
}

.Moveable {
  display: flex;
  position: relative;

  transition: left 0.5s ease-in-out;
}

.curtainLeft {
  background: linear-gradient(90deg, rgba(40, 44, 52, 10) 0%, rgba(40, 44, 52, 0) 90%);
}

.curtainRight {
  background: linear-gradient(90deg, rgba(40, 44, 52, 0) 10%, rgba(40, 44, 52, 1) 90%);
}
.curtainLeft,
.curtainRight {
  flex: 0 1 60px;
  z-index: 10;
}
