.SingleExercise {
  padding: 60px 20px 20px 20px;
}

.oneset {
  display: flex;
}

.oneset > .child1,
.oneset > .child2 {
  flex: 0 0 50px;
}

.next {
  width: 200px;
}

.next > svg {
  margin-right: 10px;
}
.choices {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
}
.buttonColumn {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
  margin-right: 20px;
}
