.RepsTempo {
  position: absolute;
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
}

.RepsTempoContent {
  box-sizing: border-box; /*The width and height includes the border*/
  background-color: var(--rep-bgcolor);
  border-radius: var(--rep-radius);
}

.RepsTempoTitle {
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--component-font-size);
  left: 0;
  top: 0;
  z-index: var(--component-title-zindex);
  text-shadow: black 1px 1px 1px;
}

.RepsTempoCanvas {
  display: block;
}
