.RepsTempo {
  position: absolute;
  color: var(--text-title-color);
  font-family: "Roboto", sans-serif;
  user-select: none;
  overflow: hidden;
  padding-top: 20px; /*Give some vertical space for the SingleWeightSelectorTitle */
}

.RepsTempoContent {
  box-sizing: border-box; /*The width and height includes the border*/
  background-color: var(--Reps-bgcolor);
  border-radius: var(--Reps-radius);
}

.RepsTempoTitle {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  left: 0;
  top: 0;
  z-index: 3;
  text-shadow: black 1px 1px 1px;
}

.RepsTempoCanvas {
  display: block;
}
