.Header {
  flex: 0 0 100px;
}

.Header h1 {
  color: var(--app-title-fgcolor);
  font-size: var(--app-title-font-large);
  margin: 20px 0 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.Header h2 {
  color: var(--app-subtitle-fgcolor);
  font-size: var(--app-title-font-medium);
  margin: 0 0 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline;
}

.Header h3 {
  color: var(--app-subtitle-fgcolor);
  font-size: var(--app-title-font-small);
  margin: 0 0 0px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline;
}

.Header span {
  margin: 0 4px 0 4px;
}
.back {
  top: 20px;
  right: 20px;
  position: absolute;
  width: 200px;
}

.back > svg {
  margin-right: 10px;
}
