.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.item {
  flex: 0 0 auto;
  width: 250px;
  height:350px;
}
