.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

.Menu {
  flex: 0 0 auto;
  height:50px;
  
  background-color: #757981;
  display: flex;
  align-items: center;
}

.Menu > a {
  margin: 0 10px 0 10px;
  flex: 0 0 auto;

  color: #282c34;
}
.Menu > a,
.Menu > a:visited {
  color: #98d0fd;
}

.Content {
}
