@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Regular.ttf);
}

.App {
  background-color: #282c34;
  color: white;
  font-family: Roboto;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

.Container {
  flex: 1 1 auto;

  display:flex;
}